<button mat-raised-button color="primary" (click)="openUserDialog()">Click me (template driven
  form)</button>
<div>
  <div>Form returned: {{userData.lastName}}<span *ngIf="userData.lastName.length > 0 && userData.firstName.length > 0">,
    </span>{{userData.firstName}}</div>
</div>

<button mat-raised-button color="primary" (click)="openReactiveDialog()">Click me (reactive
  form)</button>
<div>
  <div>Form returned: {{reactiveData.lastName}}<span
      *ngIf="reactiveData.lastName.length > 0 && reactiveData.firstName.length > 0">,
    </span>{{reactiveData.firstName}}</div>
</div>
